<app-breadcrumb [title]="'Default'" [items]="['Dashboard']" [active_item]="'Default'"></app-breadcrumb>
<div class="container-fluid">
	<div class="row second-chart-list third-news-update">
	<!-- <h1>Hello</h1> -->

		<div class="col-xl-4 xl-50 notification box-col-6">
			<div class="card">
				<div class="card-header card-no-border">
					<div class="header-top" style="justify-content: center;">
						<h5 >TOTAL PAID UNTIL NOW</h5>
					</div>
				</div>
				<div class="card-body pt-0">
						<h5 style="text-align:center;">$0</h5>
						<h5 style="text-align:center;">Billing</h5>
						
				</div>
			</div>
		</div>

		<div class="col-xl-4 xl-50 notification box-col-6">
			<div class="card">
				<div class="card-header card-no-border">
					<div class="header-top" style="justify-content: center;">
						<h5>UNGENERATED INVOICE</h5>
					</div>
				</div>
				<div class="card-body pt-0">
						<h5 style="text-align:center;">$0</h5>
						<h5 style="text-align:center;">Generate Invoice</h5>
						
				</div>
			</div>
		</div>

		<div class="col-xl-4 xl-50 notification box-col-6">
			<div class="card">
				<div class="card-header card-no-border">
					<div class="header-top" style="justify-content: center;">
						<h5>YOU OWE</h5>
					</div>
				</div>
				<div class="card-body pt-0">
						<h5 style="text-align:center;">$0</h5>
						<h5 style="text-align:center;">Pay Now</h5>
						
				</div>
			</div>
		</div>

	</div>

	<div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <table id="patchOrderTable" class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td><a href="#" class="btn btn-primary">View</a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jane</td>
                <td>Smith</td>
                <td>jane@example.com</td>
                <td><a href="#" class="btn btn-primary">View</a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Michael</td>
                <td>Jordan</td>
                <td>mjordan@example.com</td>
                <td><a href="#" class="btn btn-primary">View</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>