<app-breadcrumb [title]="'View Quote'" [items]="['View Quote']" [active_item]="'View Quote'"></app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <table id="patchOrderTable" class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>John</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                  <td><a href="#" class="btn btn-primary">View</a></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jane</td>
                  <td>Smith</td>
                  <td>jane@example.com</td>
                  <td><a href="#" class="btn btn-primary">View</a></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Michael</td>
                  <td>Jordan</td>
                  <td>mjordan@example.com</td>
                  <td><a href="#" class="btn btn-primary">View</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Container-fluid Ends-->